<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/commons::head"></head>
<body>
<nav th:replace="fragments/commons::nav"></nav>

  <div class="container">
    <h3 class="text-center bg-danger rounded">ADMIN PANEL</h3>
    <table id="table-admin" class="table rounded">
      <tr class="flex">
        <a class="link-light" href="#">ALL USERS</a>
        <a class="link-light" href="#">All ORDERS</a>
        <a class="link-light" href="#">PRODUCTS</a>
        <a class="link-light" href="#"> CATEGORIES</a>
      </tr>
    </table>
  </div>
<footer th:replace="fragments/commons::footer"></footer>


</body>

</html>