<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head"></head>
<body>
<nav th:replace="fragments/commons::nav"></nav>

<div class="container">
    <h3 class="text-center bg-danger rounded">ADMIN PANEL</h3>
    <table id="table-admin" class="table rounded">
        <tr class="flex">
            <a id="AllUsers" class="link-light" href="/admin/users/all">ALL USERS</a>
            <a id="AllOrders" class="link-light" href="#">ALL ORDERS</a>
            <a id="AllProducts" class="link-light" href="#">ALL PRODUCTS</a>
            <a id="AllCategories" class="link-light" href="/admin/categories/all">ALL CATEGORIES</a>
        </tr>
    </table>
</div>

<footer th:replace="fragments/commons::footer"></footer>


</body>

</html>