<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head"></head>


<body>
 
  <nav th:replace="fragments/commons::nav"></nav>



      <div id="main-wrapper">
        <table class="table table-responsive table-hover bg-light text-dark rounded" style="overflow-x:scroll">
          <thead>
            <tr>
              <th>#
              </th>
              <th>Username
              </th>
              <th>Order
              </th>
              <th>Total
              </th>
              <th>Details
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2
              </td>
              <td>John
              </td>
              <td>Doe
              </td>
              <td>22.45 $
              </td>
              <td>
                <a href="" class="btn btn-primary text-dark hover bg-info rounded">Order details</a>
              </td>
            </tr>
            <tr>
              <td>2
              </td>
              <td>John
              </td>
              <td>Doe
              </td>
              <td>22.45 $
              </td>
              <td>
                <a href="" class="btn btn-primary text-dark hover bg-info rounded">Order details</a>
              </td>
            </tr>
            <tr>
              <td>2
              </td>
              <td>John
              </td>
              <td>Doe
              </td>
              <td>22.45 $
              </td>
              <td>
                <a href="" class="btn btn-primary text-dark hover bg-info rounded">Order details</a>
              </td>
            </tr>     
          </tbody>
          <tr>
            <th>
            </th>
            <th>
            </th>
            <th>Turnover
            </th>
            <th >
              223.45 $
            </th>
            <th>
            </th>
          </tr>
        </table>     
        
      </div>
       

    

</body>
</html>