<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head"></head>
<body>
<nav th:replace="fragments/commons::nav"></nav>

<div class="p-5 bg-blur text-center my-main"     th:object="${cartItems}">

    <table class="table table-responsive table-hover bg-light text-dark rounded" style="overflow-x:scroll">
        <thead>
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col"><a class="card-link text-white" href="/products/all">Back to products</a>   </th>
        </tr>
        </thead>
        <div th:if="${cartItems.isEmpty()}" class="jumbotron">
            <h1 class="display-4 text-white">You don't have any products in your cart!</h1>
            <hr class="my-4">
            <p class="text-white">If you want to buy some go to section Products</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/products/all" role="button">All Products</a>
            </p>
        </div>
        <tbody class="table-primary">
        <tr scope="row" th:each="item: ${cartItems}">
            <td th:text = "${item.key.category.name.name()}"></td>
            <td>
                <img th:src="${item.key.imageUrl}" alt="" style="width:30px ; height: 30px;">

            </td>
            <td th:text="${item.key.description}">Filler 2.5l
            </td>
            <td th:text="${item.value}">3
            </td>
            <td th:text="|${item.key.price} $|">22.45 $
            </td>
            <td><a th:href="@{/shoppingCart/removeProduct/{id}(id=${item.key.id})}" class="text-danger rounded">Remove from Cart</a></td>

        </tr>

        </tbody>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Total:</th>
            <th scope="col"th:text="|${totalPrice} $|">223.45 $</th>
            <th scope="col"></th>
        </tr>

        <tr th:if="${!cartItems.isEmpty()}"scope="col"> <a lass="card-link text-white" href="/shoppingCart/finishOrder">Finish Order</a></tr>
    </table>

</div>

<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>