<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head"></head>
<body>
<nav th:replace="fragments/commons::nav"></nav>
    <div class="container-fluid" style="overflow: auto">
    <table  id="AdminCategories" class="table table-responsive table-hover bg-light text-dark rounded"
            style="overflow-x:scroll">
        <thead>

        <h1 class="display-4 text-white">ALL CATEGORIES</h1>
        <tr scope="row" class="bg-transparent">

            <th scope="col" >CategoryName</th>
            <th scope="col" ></th>
            <th scope="col" >ImageURl</th>

            <th scope="col" ><a class="card-link text-white bg-success" href="/admin    ">Back to Admin panel</a></th>
        </tr>
        </thead>

        <tbody class="table-primary">
        <tr scope="row" th:each="cat: ${categories}">
            <td th:text="${cat.name}"></td>
            <td>
                <a class="photo"
                   target="_blank">
                    <img class="rounded" th:src="${cat.imageUrl}" alt="" style="width:30px ; height: 30px;">
                </a>
            </td>
            <td th:text="${cat.imageUrl}">Category Name
            </td>
            <td><a th:href="@{/admin/category/edit/{id}(id=${cat.id})}" class="text-info rounded">Edit category</a></td>
            <td><a th:href="@{/admin/category/delete/{id}(id=${cat.id})}" class="text-danger rounded">Delete category</a></td>
        </tr>

        </tbody>
        <tr>

            <th scope="col"><a lass="card-link text-white bg-success rounded"
                               href="/admin/category/add">Add New Category</a></th>
        </tr>

    </table>
</div>


<footer th:replace="fragments/commons::footer"></footer>


</body>

</html>