<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head"></head>

<body>

<nav th:replace="fragments/commons::nav"></nav>

<div class="p-5 bg-blur text-center my-main">
    <div class="row" style=" background-color: rgba(255,255,255,0.5);">
                <div class="col-lg-9 col-xs-12">
                    <h1 class=" pb-20 ">ЕКИПЪТ НА БОВА КАР.</h1>
                    <div class="pt-40 pb-10 font-size-16"><p>Вие искате от вашия дилър на BMW повече от просто забележителни автомобили, отлични съвети и перфектно клиентско обслужване. Вие очаквате личен съвет и усещането, че ви слушат и разбират. Точно това е философията, към която нашите дилъри се отнасят много сериозно – основният ни фокус е индивидуалният клиент, към когото целият екип полага максимално внимание. Нашият единствен еталон е вашето удовлетворение.</p>
                    </div>

                    <dl class="accordion team mt-60 mb-60">
                        <dt><a href="">Управители</a></dt>
                        <dd style="display: none;">
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-6">
                                            <img src="/files/team/bohos-chuluyan-260x157.jpg?196269f117">
                                        </div>
                                        <div class="col-sm-12 col-lg-6">
                                            <h4>Бохос Чулуян</h4>
                                            <p class="position">Управител</p>
                                            <p class="phone">056 84 27 10</p>
                                            <p class="email">Bohos.Chuluyan@bmw-bovacar.bg</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dt><a href="">Продажби на автомобили</a></dt>
                        <dd style="display: none;">
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-6">
                                            <img src="/files/team/dilyan-petrov-260x157.jpg?6e9d6b5a62">
                                        </div>
                                        <div class="col-sm-12 col-lg-6">
                                            <h4>Дилян Петров</h4>
                                            <p class="position">Ръководител продажби</p>
                                            <p class="phone">0889 222 023</p>
                                            <p class="email">Dilyan.Petrov@bmw-bovacar.bg</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <div class="row">

                                        <div class="col-sm-12 col-lg-6">
                                            <h4>Симона Кметска</h4>
                                            <p class="position">Продавач-консултант</p>
                                            <p class="phone">0888 616 730</p>
                                            <p class="email">Simona.Kmetska@bmw-bovacar.bg</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-6">
                                            <img src="">
                                        </div>
                                        <div class="col-sm-12 col-lg-6">
                                            <h4>Траян Кръстев</h4>
                                            <p class="position">Мобилен търговец</p>
                                            <p class="phone">0887 516 644</p>
                                            <p class="email">Trayan.Krastev@bmw-bovacar.bg</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-6">
                                            <img src="/files/team/dsc-2136-260x157.jpg?9f26301f78">
                                        </div>
                                        <div class="col-sm-12 col-lg-6">
                                            <h4>Иво Войков</h4>
                                            <p class="position">Мобилен търговец</p>
                                            <p class="phone">0888 999 959</p>
                                            <p class="email">Ivo.Voykov@bmw-bovacar.bg</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-6">
                                            <img src="">
                                        </div>
                                        <div class="col-sm-12 col-lg-6">
                                            <h4>Константин Георгиев</h4>
                                            <p class="position">Продавач-консултант</p>
                                            <p class="phone">0885 644 890</p>
                                            <p class="email">Konstantin.Georgiev@bmw-bovacar.bg</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-6">
                                            <img src="">
                                        </div>
                                        <div class="col-sm-12 col-lg-6">
                                            <h4>Пламена Желева</h4>
                                            <p class="position">Продавач-консултант</p>
                                            <p class="phone">0884 448 806</p>
                                            <p class="email">Plamena.Zheleva@bmw-bovacar.bg</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dt><a href="">Следпродажбено обслужване</a></dt>
                        <dd style="display: none;">
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-6">
                                            <img src="/files/team/ivan-shperov-260x157.jpg?88bdb31607">
                                        </div>
                                        <div class="col-sm-12 col-lg-6">
                                            <h4>Иван Шперов</h4>
                                            <p class="position">Ръководител "Сервизна дейност"</p>
                                            <p class="phone">056 86 00 65</p>
                                            <p class="email">Ivan.Shperov@bmw-bovacar.bg</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-6">
                                            <img src="/files/team/monika-nenova-260x157-1-.jpg?e3ca2f9782">
                                        </div>
                                        <div class="col-sm-12 col-lg-6">
                                            <h4>Моника Ненова</h4>
                                            <p class="position">Сервизен приемчик</p>
                                            <p class="phone">0887 577 730</p>
                                            <p class="email">Monika.Nenova@bmw-bovacar.bg</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-6">
                                            <img src="/files/team/antoaneta-decheva-260x157.jpg?071ee08767">
                                        </div>
                                        <div class="col-sm-12 col-lg-6">
                                            <h4>Антоанета Дечева</h4>
                                            <p class="position">Ръководител "Резервни части"</p>
                                            <p class="phone">0885 618 531</p>
                                            <p class="email">Antoaneta.Decheva@bmw-bovacar.bg</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-6">
                                            <img src="/files/team/zlatina-teofanova-260x157.jpg?d9a0758b78">
                                        </div>
                                        <div class="col-sm-12 col-lg-6">
                                            <h4>Златина Теофанова</h4>
                                            <p class="position">Аксесоари</p>
                                            <p class="phone">0884 107 127</p>
                                            <p class="email">Zlatina.Teofanova@bmw-bovacar.bg</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-6">
                                            <img src="/files/team/desislava.gancheva-260x157.jpg?439373524d">
                                        </div>
                                        <div class="col-sm-12 col-lg-6">
                                            <h4>Десислава Ганчева</h4>
                                            <p class="position">Гаранционно обслужване</p>
                                            <p class="phone">0885 871 111</p>
                                            <p class="email">Desislava.Gancheva@bmw-bovacar.bg</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dt><a href="">Счетоводство и администрация</a></dt>
                        <dd style="display: none;">
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-6">
                                            <img src="/files/team/mariya.boi-cheva.jpg?d19caff8d3">
                                        </div>
                                        <div class="col-sm-12 col-lg-6">
                                            <h4>Мария Бойчева</h4>
                                            <p class="position">Ръководител "Счетоводство и администрация"</p>
                                            <p class="phone">056 86 00 66</p>
                                            <p class="email">Maria.Boycheva@bmw-bovacar.bg</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dt><a href="">Маркетинг</a></dt>
                        <dd style="display: none;">
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-6">
                                            <img src="">
                                        </div>
                                        <div class="col-sm-12 col-lg-6">
                                            <h4>Росица Георгиева</h4>
                                            <p class="position">Ръководител "Маркетинг и реклама"</p>
                                            <p class="phone">0888 664 530</p>
                                            <p class="email">Rositsa.Georgieva@bmw-bovacar.bg</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>


                <div class="col-lg-3 mobile-hide">
                    <div class="contact-area">
                        <h6>ШОУРУМ.</h6>
                        <p>Ул. Проф. Я. Якимов 11<br>
                            8000 Бургас<br>
                            <br>
                            Тел рецепция: <a class="nimbata_number" href="tel:+35956916090" style="color:inherit; text-decoration:inherit; font-weight:inherit;">+359 56 916 090</a><br>
                            Тел продажби: <a class="nimbata_number" href="tel:+35956916094" style="color:inherit; text-decoration:inherit; font-weight:inherit;">+359 56 916 094</a><br>
                            +359 885 618 521</p>
                        <div class="mt-20 font-size-21">Работно време:</div>
                        <p>Понеделник–петък: 09:00 - 18:00 ч.<br>
                            Събота: 09:00 - 18:00 ч.<br>
                            Неделя: затворено</p>
                        <h6>СЕРВИЗ, РЕЗЕРВНИ ЧАСТИ И АКСЕСОАРИ.</h6>
                        <p>Ул. Проф. Я. Якимов 11<br>
                            8000 Бургас<br>
                            <br>
                            Тел (сервиз): +359 887 577 730<br>
                            +359 889 697 794<br>
                            Тел (Резервни части): +359 885 618 531<br>
                            Тел (аксесоари): +359 884 107 127</p>
                        <div class="mt-20 font-size-21">Работно време:</div>
                        <p>Понеделник–петък: 09:00 - 18:00 ч.<br>
                            Събота: 09:00 - 18:00 ч.<br>
                            Неделя: затворено</p>
                        <a class="btn btn-secondary btn-wide mt-20" target="_blank" href="https://plan.soft-nrg.com/group/VkGuWQfuo5p0HFZ9vl3TMC3wHIdTdV0eig2mXE7F2P6SG_WjQ6yHbw/express">Запазете час за сервиз</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/commons::footer"></footer>

</body>
</html>