<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="/fragments/commons::head">
</head>
<body>

  <nav th:replace="/fragments/commons::nav" class="navbar">
  </nav>


  

<main class="p-5 text-center my-main"  >
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" >

        <div class="carousel-inner bg-transparent">
          <div class="carousel-item active" >
            <div class="carousel-caption d-block d-md-block">
                <h5 th:text="${firstCategoryItem.name.name()}">First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
              </div>
            <a class="photo" th:href="@{/products/{category}(category=${firstCategoryItem.getName().name()})}" target="_blank">
                     <img   class="d-block w-400"
                           th:src="${firstCategoryItem.imageUrl}" alt="...">
             </a>
          </div>

          <div th:each="category : ${allOtherItems}" class="carousel-item">
            <div class="carousel-caption d-block d-md-block">
                <h5 th:text="${category.name.name()}">First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
              </div>
            <a class="photo" th:href="@{/products/{category}(category=${category.getName().name()})}" target="_blank">
                <img   class="d-block w-400" alt="..."
                th:src="${category.imageUrl}">
        </a>
          </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </main>

  <footer th:replace="/fragments/commons::footer"></footer>

</body>
</html>