<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>

<nav th:replace="fragments/commons::nav"></nav>


<div id="main-wrapper">
    <table class="table table-responsive table-hover bg-light text-dark rounded" style="overflow-x:scroll">
        <thead>
        <tr>
            <th>#
            </th>
            <th>
            </th>
            <th>Product
            </th>
            <th>Quantity
            </th>
            <th>Price
            </th>
            <th>
                <a class="card-link text-white" href="">Back to orders</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1
            </td>
            <td>
                <img src="/images/63165.jpg" alt="" style="width:30px ; height: 30px;">

            </td>
            <td>Filler 2.5l
            </td>
            <td>3
            </td>
            <td>22.45 $
            </td>

        </tr>
        <tr>
            <td>2
            </td>
            <td>
                <img src="/images/63165.jpg" alt="" style="width:30px ; height: 30px;">
            </td>
            <td>Spray gun
            </td>
            <td> 1
            </td>
            <td>3,56 $
            </td>

        </tr>
        <tr>
            <td>2
            </td>
            <td>
                <img src="/images/63165.jpg" alt="" style="width:30px ; height: 30px;">
            </td>
            <td>John
            </td>
            <td>Doe
            </td>
            <td>22.45 $
            </td>

        </tr>
        </tbody>
        <tr>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>Total
            </th>
            <th>
                223.45 $
            </th>
            <th>
            </th>
        </tr>
    </table>

</div>

<footer th:replace="fragments/commons/footer"></footer>
</body>
</html>