<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/js/script.js" defer></script>
    <title>OrderDetails</title>

</head>
<body>
<nav th:fragment="nav" class="navbar">
    <div class="brand-title">Paint Society</div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/contacts">Contact Us</a></li>
            <li><a href="/users/products/add">Products For Sale</a></li>
            <li><a href="/users/products/add">  </a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Register</a></li>
            <li><a href="/products/all">Products</a></li>
            <li><a href="/users/logout">Logout</a></li>
            <li><a href="">Shopping Cart<i class="fa fa-shopping-cart"></i></a></li>
        </ul>
    </div>
</nav>

<footer th:fragment="footer" id="footer" class="footer-page footer-fixed-bottom bg-danger rounded">
    <p>&copy;Stanislav Kolev Project 2022. All rights reserved.</p>
</footer>

</body>
</html>